name: "Lint"

on:
  workflow_dispatch:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ !contains(github.event.head_commit.message, '#nolint') }}

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Debug CTX github"
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Setup Node 24"
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: "Install"
        run: |
          npm ci

      - name: "Build"
        if: ${{ !cancelled() }}
        run: |
          npm run docs:deploy

      #- name: "ESLint"
      #  if: ${{ !cancelled() }}
      #  run: |
      #    npm run lint

      - name: "prettier"
        if: ${{ !cancelled() }}
        run: |
          npm run prettier:check

      - name: "yamllint"
        if: ${{ !cancelled() }}
        env:
          CONFIG: .github/yamllint.yaml
        run: |
          echo "::group::List Files"
          yamllint -c "${{ env.CONFIG }}" --list-files .
          echo "::endgroup::"
          yamllint -c "${{ env.CONFIG }}" .

      - name: "actionlint"
        if: ${{ !cancelled() }}
        uses: cssnr/actionlint-action@v1
        with:
          shellcheck_opts: -e SC2129

      # Note: this will most likely be split into two different workflows...
      - name: "Check Docs Changes"
        id: docs-changed
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files: |
            docs/**
            package*.json

      - name: "Verify Docs Build"
        if: steps.docs-changed.outputs.any_changed == 'true'
        run: |
          npm run docs:deploy
